<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
      <!-- <mat-toolbar>Navigation</mat-toolbar> -->
      <mat-nav-list>
        <a mat-list-item routerLink="/employee/list" routerLinkActive="active-link">
          Employees
        </a>
        <a mat-list-item routerLink="/apidatatable/list" routerLinkActive="active-link">
          API Data Table
        </a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <!-- <mat-toolbar>Dashboard</mat-toolbar> -->
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
